* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Montserrat Regular', sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none !important;
  color: black; }

a:hover {
  color: black; }

header {
  display: flex;
  justify-content: flex-start;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 400px; }

.header-left {
  width: 50%;
  height: 100vh; }

.header-right {
  width: 50%; }

.top-line {
  font-family: 'Montserrat Medium';
  display: flex;
  align-items: center; }

.top-line nav {
  width: 85%;
  margin: 0 calc(9vw - 70px); }

.top-line-menu {
  justify-content: space-around;
  margin: 0; }
  .top-line-menu a {
    font-size: 13px; }

.top-line img {
  height: 40px;
  margin: 15px 0 15px 30px; }

ul {
  display: flex; }

.top-line li {
  margin: 0;
  white-space: nowrap;
  font-weight: bold; }

.top-line a {
  color: #282828; }

.mid-line {
  margin: 20vh 50px; }

.mid-line h1 {
  font-family: 'Montserrat Medium';
  letter-spacing: 3px; }

.mid-line .create {
  color: gray;
  margin: 20px 0;
  font-family: 'Montserrat Medium'; }

.mid-line .create span {
  color: #d524e5; }

.buttons {
  display: flex; }

.home_btn:after {
  content: " ";
  display: table;
  clear: both; }

.home_btn input, .home_btn a {
  font-family: 'Montserrat SemiBold';
  display: inline-block;
  min-width: 150px;
  padding: 0.8em;
  height: 45px;
  text-align: center;
  margin: 20px 20px 20px 0px;
  font-size: 13px;
  border-radius: 30px;
  border: 2px solid #ef3fca;
  transition: 0s;
  color: white;
  background: linear-gradient(to right, #d625e4, #fc42c5); }

.right a {
  background: #fff;
  color: #ef3fca; }

.home_btn input:hover, .home_btn a:hover {
  border: 2px solid #ef3fca;
  background: #ef3fca;
  color: #fff; }

.right a:hover {
  background: #fff;
  color: #d625e4; }

.down_menu {
  position: absolute;
  bottom: 0;
  margin: 50px 50px;
  white-space: nowrap; }

.header-right img {
  margin-left: calc((50vw - 133.3vh)/2);
  height: 100vh;
  min-height: 400px; }

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0); }

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.carousel-control-next {
  top: 65%;
  left: 43%;
  opacity: 1;
  font-size: 40px; }

.carousel-control-prev {
  top: 12%;
  left: 43%;
  opacity: 1; }

.header-right .fa {
  font-family: 'Montserrat Medium';
  font-weight: 100;
  font-size: 40px;
  background-color: #dcdcdc;
  height: 53px;
  width: 53px; }

.carousel-control-next, .carousel-control-prev {
  height: 20%; }

.rounded-circle {
  border-radius: 50% !important;
  padding: 4px; }

.carousel-caption {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat Medium';
  background-color: #fff;
  color: #000;
  height: 230px;
  width: 230px;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  margin: auto;
  top: 0; }

.carousel_box {
  width: 100%;
  height: 100%; }

.carousel_box h1 {
  font-size: 50px;
  margin-top: 40px;
  color: #959595; }

.carousel_box a {
  display: block;
  margin-top: 50px; }

.carousel_box a:hover {
  color: #ef3fca; }

.menu {
  z-index: 1001; }

#menu-checkbox {
  display: none; }

.main-menu {
  display: none; }

.middle-menu {
  margin: 40px;
  display: flex;
  flex-direction: column;
  max-height: 60vh; }
  .middle-menu li {
    display: flex;
    width: 100%;
    text-align: center; }
  .middle-menu a {
    font-family: 'Montserrat Medium';
    display: block;
    font-size: 21px;
    padding: 10px; }

nav .toggle-button, nav .toggle-button:after {
  width: 28px;
  height: 4px;
  background-color: black;
  border-radius: 4px;
  transition: 0.2s ease-in-out; }
nav .toggle-button:after {
  transform: translateY(8px); }

.toggle-button-box {
  position: absolute;
  text-align: center;
  cursor: pointer;
  margin: 10px 0px;
  left: 95%;
  padding: 20px 10px;
  z-index: 1001; }

.toggle-button {
  text-align: center;
  display: block;
  cursor: pointer;
  font-size: 35px;
  font-weight: bold;
  z-index: 1001; }

.toggle-button:after {
  content: attr(data-open);
  display: block; }

.opacity {
  display: block;
  position: absolute;
  width: 50vw;
  height: 100vh;
  margin-left: -50vw;
  background-color: black;
  opacity: 0.5; }

.top-line-email {
  display: flex; }
  .top-line-email .email {
    margin: 20px 50px; }
    .top-line-email .email a {
      font-family: 'Montserrat Medium'; }
    .top-line-email .email span {
      font-size: 12.5px;
      display: block; }

#menu-checkbox:checked + nav[role="navigation"] .main-menu {
  background-color: white;
  display: block;
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 50%; }

#menu-checkbox:checked + nav[role="navigation"] .carousel {
  display: none; }

#menu-checkbox:checked + nav[role="navigation"] .toggle-button {
  transform: translate3d(0, 0, 0) rotate(-45deg); }

#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
  display: block;
  content: attr(data-close);
  transform: translate3d(0, 0, 0) rotate(90deg); }

.about {
  background: #000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 80px 0; }
  .about .head_title {
    font-family: 'Montserrat SemiBold'; }
  .about .single_about {
    margin-top: 70px; }
    .about .single_about .single_about_title {
      font-family: 'Montserrat Medium';
      display: flex; }
      .about .single_about .single_about_title h1 {
        width: 53px; }
      .about .single_about .single_about_title h6 {
        margin: 17px; }
  .about .single_about_content {
    font-size: 12.5px;
    margin: 30px;
    margin: 10px 70px; }
    .about .single_about_content a {
      display: none; }

.works {
  background: #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  padding-top: 80px; }
  .works .head_title h5 {
    font-family: 'Montserrat SemiBold'; }
  .works .main_works_area {
    margin-top: 60px; }
    .works .main_works_area .single_works {
      display: flex;
      width: 100%; }
      .works .main_works_area .single_works img {
        width: 50%;
        height: 100%;
        padding: 0; }
      .works .main_works_area .single_works .head_title.phone {
        display: none; }
    .works .main_works_area .head_title {
      position: absolute;
      height: 85%;
      margin: 6% 3%; }
      .works .main_works_area .head_title span {
        font-size: 15px;
        color: #909090; }
      .works .main_works_area .head_title a {
        font-size: 15px;
        color: #db2bde;
        position: absolute;
        bottom: 0; }
    .works .main_works_area .single_work .head_title.phone {
      display: none; }
    .works .main_works_area .single_work img {
      width: 100%; }
    .works .main_works_area .head_title_center {
      font-family: 'Montserrat Medium';
      text-align: center;
      margin: 50px 0; }
    .works .main_works_area a {
      font-size: 21px;
      color: #db2bde; }

.contact {
  background: #f3f5f6;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 70px 0; }
  .contact h5 {
    font-family: 'Montserrat Medium';
    padding: 10px 0; }
  .contact h6 {
    font-family: 'Montserrat Medium';
    padding: 3px;
    color: #909090; }
  .contact form {
    display: flex;
    padding-top: 60px; }
    .contact form .home_btn {
      padding-top: 25px; }
  .contact .form-control {
    font-family: 'Montserrat SemiBold';
    color: #919191;
    border: none;
    border-bottom: 2px solid #a5a5a5;
    border-radius: 0;
    background-color: transparent; }

.footer {
  background: #000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 70px 0; }
  .footer h6 {
    font-family: 'Montserrat SemiBold';
    font-size: 17px;
    padding-bottom: 0.5em; }
  .footer ul {
    display: block; }
    .footer ul li {
      margin-top: 0.5em; }
    .footer ul a {
      color: #848484;
      font-size: 15px; }
  .footer .copyright_text {
    font-family: 'Montserrat SemiBold';
    color: #848484;
    bottom: 0;
    margin-top: 50px; }
    .footer .copyright_text p {
      margin-bottom: 0; }
