*{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
}
li{
    list-style: none;
}
a{
    text-decoration: none!important;
    color: black;
}
a:hover {
    color: black;
}
header{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    justify-content: -webkit-flex-start;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;   
    min-height: 600px;
}
.header-left{
    width: 50%;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    min-height: 600px;

}
.header-right{
    width: 50%;
}

.top-line{
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    
}
.top-line nav{ 
    width: 85%;
    margin: 0 calc(9vw - 70px);
}
.top-line-menu{
    justify-content: space-around;
    margin: 0;
    
    a{
        font-size: 13px;}
    }
   

.top-line img{
    height: 40px;
    margin: 15px 0 15px 30px;
}

ul{ 
    display: flex;
}

.top-line li{
    margin: 0;
    white-space: nowrap;
    font-weight:bold;
}
.top-line a{
    color: #282828;
    position: relative;
}
.top-line-menu a:hover::after {
    opacity: 1;
    bottom: -1px;
}
.top-line-menu a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 20%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e631d7;
    box-shadow: inset 0px -1px 0px 0px #e631d7;
    transition: all 0.3s ease;
}

.mid-line {
    margin: 20vh 50px 0 50px;
    flex:9;
}
.mid-line h1{
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    letter-spacing: 3px;
}

.mid-line .create{
    color: gray;
    margin: 20px 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;

}
.mid-line .create span{
    color: #d524e5;;
}
.buttons{
    display: flex;
}
.home_btn:after {
    content: " ";
    display: table;
    clear: both;
}
.btn:focus{
    box-shadow: none;
}
.home_btn input, .home_btn a{
    border:none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    min-width: 150px;
    padding: 0.8em;
    height: 45px;
    text-align: center;
    margin: 20px 20px 20px 0px;
    font-size: 13px;
    border-radius: 30px;
    color: white;
    border: 2px solid transparent;
    background: linear-gradient(to right, #d625e4, #fc42c5 ) ;
    background-color: #fc42c5;
    transition: 1s ease-out;
}
 .right a{
    border: 2px solid #ef3fca;
    background: #fff;
    color: #ef3fca;
}

.home_btn input:hover, .home_btn a:hover{
    background: #a013af;
    color: #fff;
    border: 2px solid transparent;
}
.right a:hover{
    background: #fff;
    color: #a013af;
    border: 2px solid #a013af;
}


.down_menu {
    margin: 50px 50px;
    white-space: nowrap;  
    flex: .5;
}
.header-right img{
    margin-left: calc((50vw - 133.3vh)/2);
    height: 100vh;
    min-height: 600px;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}
.carousel-control-next{
    top: 65%;
    left: 43%;
    opacity: 1;
    font-size: 40px;
}
.carousel-control-prev{
    top: 12%;
    left: 43%;
    opacity: 1;
}
.header-right .fa {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    background-color: #dcdcdc;
    height: 53px;
    width: 53px;

}
.carousel-control-next, .carousel-control-prev {
    height: 20%;
}

.rounded-circle {
    border-radius: 50%!important;
    padding: 4px;
}
.carousel-caption {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    background-color: #fff;
    color: #000;
    height: 230px;
    width: 230px;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin: auto;
    top: 0;

}
.carousel_box{
    width: 100%;
    height: 100%;
}

.carousel_box h1{
    font-size: 50px;
    margin-top: 40px;
    color: #959595;
}
.carousel_box a{
    display: block;
    margin-top: 50px;
}
.carousel_box a:hover{
    color: #ef3fca;
}

.menu{
    z-index: 1001;
}
#menu-checkbox{
    display: none;
}
.main-menu{
    display: none;
    
}
.middle-menu {
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex: 9;
     li {
    display: flex;
    width: 100%;
    text-align: center;}
    a{
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    display: block;
    font-size: 21px;
    padding: 10px;}
}


$primary: #000;
$bar-length: 28px;
$bar-thickness: 4px;
nav {
    .toggle-button {
        &,
        &:after {
            width: $bar-length;
            height: $bar-thickness;
            background-color: $primary;
            border-radius: $bar-thickness;
            transition: 0.2s ease-in-out;
        }
        &:after {
            transform: translateY(($bar-thickness*2)); }
    }  
}   
   
.toggle-button-box{
    position: absolute;
    text-align: center;
    cursor: pointer;
    margin: 10px 0px;
    left: 95%;
    padding: 20px 10px;
    z-index: 1001;
}
.toggle-button{
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
    z-index: 1001;
}
.toggle-button:after{
    content: attr(data-open);
    display: block;
} 
.opacity{
    display: block;
    position: absolute;
    width: 50vw;
    height: 100vh;
    margin-left: -50vw;
    background-color: black;
    opacity: 0.5;
}
.top-line-email{
    display: flex;
    .email{
        margin: 20px 50px;
        a{
            font-family: 'Montserrat';
            font-weight: 500;
            font-style: normal;
        }
        span{
            font-size: 12.5px;
            display: block;
        }
    }
}    

#menu-checkbox:checked + nav[role="navigation"] .main-menu{
    background-color: white;
    display: block;
    position: absolute;
    z-index: 1000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 600px;
    
}
#menu-checkbox:checked + nav[role="navigation"] .carousel{
    display: none;
}
#menu-checkbox:checked + nav[role="navigation"] .toggle-button{
    transform:translate3d(0,0,0) rotate(-45deg); }

#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
    display: block;
    content: attr(data-close);
    transform:translate3d(0,0,0) rotate(90deg);   
}
.about{
    background: #000;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 80px 0;
    .head_title{
        font-family: 'Montserrat';
        font-weight: 600;
        font-style: normal;
    }
    .single_about{ 
        
         margin-top: 70px;
         .single_about_title{
            font-family: 'Montserrat';
            font-weight: 500;
            font-style: normal;
             display: flex;
             h1{
                width: 53px;
             }
             h6{
                 margin: 17px;
             }
             
         }
    }
    .single_about_content{ 
        font-size: 12.5px;
        margin:30px;
        margin: 10px 70px;
        a{
            display: none;
          
        }
        
    }

}
.works{
    background: #fff;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    padding-top: 80px;
    .head_title h5{
        font-family: 'Montserrat';
        font-weight: 600;
        font-style: normal;
    }
    .main_works_area{
        margin-top: 60px;
        .single_works{
        display: flex;
        width: 100%;
        img{
            width: 50%;
            height: 100%;
            padding: 0;}
        .head_title.phone{
            display: none;}    
        }
        
        .head_title {
            position: absolute;
            height: 85%;
            margin: 6% 0 0 3%;
            span{
                font-size: 15px;
                color:#909090;
            }
            a{
                font-size: 15px;
                color: #db2bde;
                position: absolute;
                bottom: 0;
            }
            a:hover{
                color: #a013af;
            }
         }
        
        .single_work{
        .head_title.phone{
            display: none;
        }
         img{
            width: 100%;}
         }
        .head_title_center{
            font-family: 'Montserrat';
            font-weight: 500;
            font-style: normal;
            text-align: center;
            margin: 50px 0;}
            a {
                font-size: 21px; 
                color: #db2bde;
            }
            a:hover{
                color: #a013af;
            }
        }
}

.contact{
    background: #f3f5f6;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 70px 0;
    h5{
        font-family: 'Montserrat';
        font-weight: 500;
        font-style: normal;
        padding: 10px 0;
    }
    h6{
        font-family: 'Montserrat';
        font-weight: 500;
        font-style: normal;
        padding: 3px;
        color: #909090;
    }
    form{
        display: flex;
        padding-top: 60px;
        .home_btn{
            padding-top: 25px;
        }
    }
    .form-control{
        font-family: 'Montserrat';
        font-weight: 600;
        font-style: normal;
        color: #919191;
        border: none;
        border-bottom: 2px solid #a5a5a5;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
    }
         
    
}
.footer{
    background: #000;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 70px 0;
    h6{
        font-family: 'Montserrat';
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
        padding-bottom: 0.5em;
    }
    ul{
    display: block;
    li{margin-top: 0.5em}
    a{ color: #848484;
    font-size: 15px;}
    }
    .copyright_text{
        font-family: 'Montserrat';
        font-weight: 600;
        font-style: normal;
        color: #848484;
        bottom: 0;
        margin-top: 50px;
        p{
        margin-bottom: 0;}
    }
}