/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.carousel{
		display: none;
	}
	.header-right{
		width: 10%;
		float: none;
		margin-left: -90%;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		width: 100vw;	
	}
	.toggle-button-box{
		left: 90%;
	}
	.header-left {
		width: 90%;
	}
	.top-line nav{
		margin: 0 calc(9vw - 20px);
	}
	.single_work .head_title{
		display: none;
	}
	
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {
	.top-line nav {
		display: none;
	}
	.toggle-button{
		left: 87%;
	}
	.top-line {
		background-color: white;
		position: fixed;
		width: 100%;
		z-index: 111;
	}
	.mid-line h1 {
		letter-spacing: 1px;
		white-space: nowrap;
		font-size: 35px;
	}
	.mid-line {
		margin: 25vh 50px 10vh 50px;
	}
	header {
		height: 80vh;
	}
	.down_menu {
		bottom: auto;
	}
	.top-line-email .home_btn {
		display: none; 
	}
	.menu{
		position: fixed;
	}
	.toggle-button-box{
		position: fixed;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top-line img {
		margin: 15px 0 15px 20px;
	}
	.mid-line {
		margin: 25vh 20px 10vh 20px;
	}
	.down_menu {
		margin: 50px 20px;
		position: static;
	}
	.buttons .home_btn.right {
		display: none;
	}
	.mid-line h1 {
		letter-spacing: 1px;
		font-size: 21px;
	}
	.mid-line h5{
		font-size: 15px;
	}
	.down_menu a{
		font-size: 12.5px;
	}
	.toggle-button-box {
		left: 80%;
	}
	.top-line-email .email {
		margin: 20px 20px;
	}
	.middle-menu {
		margin: 10px;
	}
	.about {
		padding: 50px 0;
	}
	.about .single_about {
		margin: 70px 20px 0 20px;
		background-color: white;
		padding: 10px;
		color: black;
		border-radius: 10px;
	}
	.about .single_about_content {
		margin: 30px;
	}
	.works .main_works_area .single_works  {
		display: block;
	}
	.works .main_works_area .single_works img {
		width: 100%;
	}
	.works .main_works_area .head_title_center {
		display: none;
	}
	.works .head_title.phone {
		display: block!important;
		margin: 30px;
	}    
	.works .main_works_area .head_title, .works .main_works_area .head_title a {
		position: static; 
	}
	.works .main_works_area .col-12{
		padding: 0;
	}
	.about .single_about .single_about_title h1 {
		display: none;
	}
	.about .single_about .single_about_title {
		text-align: center;
		display: block;
	}
	.about .single_about .single_about_content a {
		display: block;
		text-align: center
	}
	.about .single_about .single_about_title h6 {
		margin: 10px;
	}
	.about .single_about_content {
		margin: 30px 20px 10px 20px;
	}
	.contact {
		padding: 40px 0;
	}
	.footer .col-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.footer {
		padding: 60px 30px 30px 30px;
	}
	.footer .copyright_text {
		margin-top: 20px;
		font-size: 9px;
	}
	.none_for_phone{
		display: none;
	}
	
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}