/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.carousel{
		display: none;
	}
	.header-right{
		width: 10%;
		float: none;
		margin-left: -90%;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		width: 100vw;	
	}
	.toggle-button{
		left: 90%;
	}
	.header-left {
		width: 90%;
	}
	.top-line nav{
		margin: 0 calc(9vw - 20px);
	}
	.single_work .head_title{
		display: none;
	}
	
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {
	.top-line nav {
		display: none;
	}
	.toggle-button{
		left: 87%;
	}
	.top-line {
		background-color: white;
		position: fixed;
		width: 100%;
		z-index: 111;
	}
	.mid-line h1 {
		letter-spacing: 1px;
		white-space: nowrap;
		font-size: 35px;
	}
	.mid-line {
		margin: 25vh 50px 10vh 50px;
	}
	header {
		height: 80vh;
	}
	.down_menu {
		bottom: auto;
	}
	.top-line-email .home_btn {
		display: none; 
	}
	.menu{
		position: fixed;
	}
	.toggle-button{
		position: fixed;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}