/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.carousel{
		display: none;
	}
	.header-right{
		width: 100%;
		float: none;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		width: 100vw;	
	}
	.toggle-button{
		left: 90%;
	}
	.header-left {
		width: 90%;
	}
	.top-line nav{
		margin: 0 calc(9vw - 20px);
	}
	.single_work .head_title{
		display: none;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {
	.top-line nav {
		display: none;
	}
	.toggle-button{
		left: 87%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}